@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Inatech!</h1>
    <p>Learn about <a href="https://www.inatech.com/">Make It Possible with Inateche</a>.</p>
</div>
