
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<br />
<br />
<br />
<br />

<img src="https://cdn.searchenginejournal.com/wp-content/uploads/2020/01/marketing-reports-5e0f54085b56c.png" align="right" width="60%" height="50%"/>
 <h3 style="font-family:'Times New Roman', Times, serif">List Of Reports</h3>

<a link href="https://app.powerbi.com/view?r=eyJrIjoiYjg5YWNhNzYtYWUyNS00Y2JhLThhZGYtMmQ5NzQwMTJmNzU1IiwidCI6IjE3ZDAxMGY0LTE0ZTItNGRiYy04MDU2LTc3MWE1MjllYWRmZCJ9">
    <button type="button" class="btn btn-secondary">Azure Consumption Report</button>
</a>

<br />
<br />
<br />
<a link href="https://app.powerbi.com/view?r=eyJrIjoiNWM2MjRiMDctOTQ2ZC00NTIwLWJlOTAtZDhiOWRlYzM2NmIzIiwidCI6IjE3ZDAxMGY0LTE0ZTItNGRiYy04MDU2LTc3MWE1MjllYWRmZCJ9&pageName=ReportSection4508b4316961ca3286de">
    <button type="button" class="btn btn-secondary">Category Report</button>
</a>
    <br/>
    <br/>
    <br />
<a link href="https://app.powerbi.com/view?r=eyJrIjoiMzNmYzMzYjEtYmYwZi00MTk3LWFlYWEtN2YyYWZiMjM5NWY5IiwidCI6IjE3ZDAxMGY0LTE0ZTItNGRiYy04MDU2LTc3MWE1MjllYWRmZCJ9&pageName=ReportSection4508b4316961ca3286de">
    <button type="button" class="btn btn-secondary">Customer Report</button>
</a>
<br />
<br />
<br />
<a link href="https://app.powerbi.com/view?r=eyJrIjoiYWQ2YmY5ZTAtM2IwNC00YWFjLTkwYzktYzdhNzkzYTQ5YTAxIiwidCI6IjE3ZDAxMGY0LTE0ZTItNGRiYy04MDU2LTc3MWE1MjllYWRmZCJ9&pageName=ReportSection4508b4316961ca3286de">
    <button type="button" class="btn btn-secondary">DateRange Report</button>
</a>

<br />
<br />
<br />

<a asp-action="Filecontainer" asp-controller="Home">Back to Main Page</a>